.button {
    background-color: #03a9f4;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.link {
    color: #e62690;
    text-decoration: none;
    font-weight: bold;
}

.page-container__page-wrapper {
    max-width: 70%;
    margin: 0 auto;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-top: 30px;
}

.contact-methods__list {
    list-style: none;
    padding: 0;
}

.page-container__footer {
    padding: 10px;
    text-align: center;
}